html, 
body {
	color: black;
}

#home-page{
	/*height: 100vh;*/
}

#home-back {
	position: relative;
	width: 100%;

	overflow-y: hidden;
}

.nav-home {
	height: 100vh;
	background: url("../img/home-image.jpeg") no-repeat center center, #fff;
	/* fallback for old browsers */
	background: url("../img/home-image.jpeg") no-repeat center center, -webkit-linear-gradient(to left, #fff, #fff);
	/* Chrome 10-25, Safari 5.1-6 */
	background: url("../img/home-image.jpeg") no-repeat center center, linear-gradient(to left, #fff, #fff);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: black;
	/*background-position: right;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.nav-forum {
	height: 100%;
	background: none;
	/* fallback for old browsers */
	background: none;
	/* Chrome 10-25, Safari 5.1-6 */
	background: none;
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-color: white;
}

/*SHOP */

div .card {
	border: 2px solid black;
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
}