html, 
body {
	color: black;
	font-family: 'Cabin', sans-serif;


}

.btn-primary {
    background-color: #615a5a;
    border-color: #615a5a;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: white;
    color: #615a5a;
}



/*---MESSGAES/ALERTS---*/
.alert.alert-success{
    text-align: center;
}

/*---NAVBAR STYLING---*/

/*
.nav>li>a:hover,
.nav>li>a:active,
.nav>li>a:focus,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	background-color: #615a5a;
	border-radius: 10px;
}

*/
#basket {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: white;
    border-radius: 10px;
    color: #615a5a;
    margin-top: 10px;
    padding: 10px;
    height: 40px;
}

#basket:hover,
#basket:active,
#basket:focus {
    background-color: #615a5a;
    color: white;
    text-decoration: none;
}

.active-nav {
    background-color: #615a5a;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

.sidebar {
	width: 100%;
	display: inline-block;
	text-align: center;
	float: none;
	vertical-align: top;
	z-index: 100;
}

nav {
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

ul li {
	list-style: none;
	display: inline-block;
}
.sidebar-nav {
	border-color: white;
	margin-top: 25px;
	margin-bottom: 35px;
}


.sidebar-nav > li > a {
    position: relative;
	color: white;
	margin: 15px 0;
    padding: 15px 20px;
    font-size:16px;
    font-weight: bold;
    text-decoration:none;
}

.sidebar-nav > li > a:hover,
.sidebar-nav > li > a:active,
.sidebar-nav > li > a:focus {
	background-color: #615a5a;
	border-radius: 10px;
}


.sidebarBtn {
	display: none;
	z-index: 101;
}


/*---INDEX PAGE---*/

#index-div {

    height: 100%;
}

#index-title {
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    color: white;
    text-align: center;
    margin-top: 120px;
    margin-right: auto;
    margin-left: auto;
}

#index-slogan {
    color: #615a5a;
    text-align: center;
}

.home {
	height: 100vh;
    width: 100%;
	background: url("../img/home.jpeg") no-repeat 50% 0%;
	/* fallback for old browsers */
	background: url("../img/home.jpeg") no-repeat 50% 0%, -webkit-linear-gradient(to left, #fff, #fff);
	/* Chrome 10-25, Safari 5.1-6 */
	background: url("../img/home.jpeg") no-repeat 50% 0%, linear-gradient(to left, #fff, #fff);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


}

/*---SHOP PAGE---*/

.shop {
	background: #f0b9c4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #f0b9c4, #f0e0e3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #f0b9c4, #f0e0e3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #f0b9c4, #f0e0e3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #f0b9c4, #f0e0e3); /* Standard syntax (must be last) */
    background-attachment: fixed;
}

.main-prod-img {
    margin-right: auto;
    margin-left:auto;
    max-height: 220px;
}

div .card {
    height: 420px;
	background-color: white;
	padding: 5px 10px 10px 10px;
	margin-bottom: 10px;

}

div.card h1 {
    color: #615a5a;
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 30px;
}

div.card a:hover{
    text-decoration:none;
}

/*---rating stars---*/
.stars-container {
  position: relative;
  display: inline-block;
  color: transparent;
}

.stars-container:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: lightgray;
  text-shadow: 1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333;
}

.stars-container:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  color: gold;
  overflow: hidden;
}

.stars-0:after { width: 0%; }
.stars-10:after { width: 10%; }
.stars-20:after { width: 20%; }
.stars-30:after { width: 30%; }
.stars-40:after { width: 40%; }
.stars-50:after { width: 50%; }
.stars-60:after { width: 60%; }
.stars-70:after { width: 70%; }
.stars-80:after { width: 80%; }
.stars-90:after { width: 90%; }
.stars-100:after { width: 100%; }
/*---end of rating stars---*/


/*---PRODUCT_DETAIL TEMPLATE---*/

.product-details-div {
    margin-bottom: 10px;
}

.main-product-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

#id_quantity {
    width: 70px;
}

#shop-rtn-btn {
    margin-top: 15px;
    margin-bottom: 15px;
}



/*---PRODUCT_IMAGE TEMPLATE---*/

.product-image-container{
    padding: 0;
}

img.product-image{
    padding: 4px;
    border-radius: 10px;
    max-height: 155px;	/*check!!!!!!!!!*/
    width: 100%;
}

h1.product-title {
    color: #615a5a;
    text-align: center;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    margin-bottom: 20px;

}

/*---FORUM PAGE---*/

.forum {
	height: 100%;
	background: none;
	background-color: #ebebeb;
}

.subject div {
    margin-bottom: 30px;
}

section div {
    text-align: center;

}


section div h1 a{
    color: white;
    font-family: 'Pacifico', cursive;
}

section div h4 a{
    color: white;
    font-family: 'Pacifico', cursive;

}

section div p {
    color: #615a5a;

    font-family: 'Pacifico', cursive;
}

section div table {
    color: #615a5a;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Pacifico', cursive;
}

tr.table-spacer,
th.table-spacer {
    width: 20px;
}



.nav-forum {
	height: 100%;
	background: none;
	background-color: white;
}

.thread-headers {
    color: #615a5a;
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
}

.text-center a {
    margin-top: 15px;
    margin-bottom: 20px;
}
/*---FORUM SUBJECTS PAGE---*/

div .jumbotron {
    background: transparent;
    color: #615a5a;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

/*---COMMENT DETAILS PAGE---*/

.comment-details {
    padding-left: 10px;
}

section.row.comment {
    margin-bottom: 30px;
}

/*---LOGIN PAGE---*/

button a {
    color: white;
}

/*---BASKET PAGE---*/

#empty-basket {
    color: #615a5a;
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-top: 120px;
    margin-bottom: 30px;
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
/*// css specific properties col-xs-**/

    body {
        margin-top: 70px;
    }

    home:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 110%;
        z-index: -10;
        background: url("../img/home.jpeg") no-repeat center center;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
    }

    /* sidebar styling */
    	.sidebar {
		display: block;
		position: fixed;
		top: 0;
		left: -250px; 			/*same as width*/
		background: #262626;
		width: 250px;
		height: 100%;
		transition: .8s;
		/*transition-timing-function: ease-in;*/
	}

	.active {
		left: 0;
		width: 100%;
	}

	ul {
		margin: 0;
		padding: 20px 0;

	}

	ul li {
		display: block;
	}

	ul li a {
		padding: 10px 20px;
		color: #fff;
		display: block;
		text-decoration: none;
		border-bottom: 1px solid rgba(0,0,0,.2);
	}

	.sidebarBtn {
		display: block;
		position: absolute;
		top: 0;
		right: -50px;
		width: 50px;
		height: 50px;
		box-sizing: border-box;
		cursor: pointer;
		background: #f5f5f5;
		border: none;
		outline: none;
	}

	.sidebarBtn span {
		display: block;
		width: 35px;
		height: 3px;
		background: #262626;
		position: absolute;
		top: 24px;
		transition: .3s;
	}

	.sidebarBtn span:before {
		content: '';
		position: absolute;
		top: -10px;
		left: 0;
		width: 100%;
		height: 3px;
		background: #262626;
		transition: .3s;
	}

	.sidebarBtn span:after {
		content: '';
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
		height: 3px;
		background: #262626;
		transition: .3s;
	}

	.sidebarBtn.toggle{
		right: 0;
		transition: 0.3s;
	}

	.sidebarBtn.toggle span {
		background: transparent;
	}

	.sidebarBtn.toggle span:before {
		top: 0;
		transform: rotate(45deg);
	}

	.sidebarBtn.toggle span:after {
		top: 0;
		transform: rotate(-45deg);
	}



}