{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="col-md-10 col-md-offset-1">
        <h1>Checkout</h1>
        <table class="table table-striped" id="basket-table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
                </thead>
            <tbody>
                {% for item_id, item in basket.items %}
                    <tr id="row{{ item_id }}">
                        <td>{{ item.product_title }}</td>
                        <td>£{{ item.product_price }}</td>
                        <td> {{ item.quantity }}</td>
                        <td>£{{ item.subtotal }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>Basket total: </td>
                    <td id="basket-total">£{{ basket_total  }}</td>
                </tr>
            </tfoot>

        </table>

        {% if user.is_authenticated and user.stripe_id %}

            <form role="form" method="post" action="{% url 'checkout' %}"  id="payment-form" >
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="payment-btn">Pay with Stripe</button>
                </div>
            </form>

        {% elif user.is_authenticated %}
            <button class="btn btn-primary" id="add-card-btn"><a href="{% url 'payment_details' %}">Add Payment Details</a></button>
        {% else %}
            <button class="btn btn-primary"><a href="{% url 'login' %}">Login/Register to pay</a></button>
        {% endif %}
        <button class="btn btn-primary"><a href="/shop/">Back to Shop</a></button>
    </div>

{% endblock %}