{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block content %}


<h1>Checkout</h1>
<table class="table table-striped" id="basket-table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>

        {% for item_id, item in basket.items %}
            <tr id="row{{ item_id }}">
                <td>{{ item.product_title }}</td>
                <td>£{{ item.product_price }}</td>
                <td> {{ item.quantity }}</td>
                <td>£{{ item.subtotal }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td id="basket-total">£{{ basket_total  }}</td>
            </tr>
        </tfoot>

    </table>

    {% if user.is_authenticated and user.stripe_id %}
        <button id="pay-btn">Pay</button>
    {% else %}
        <button id="add-card-btn">Add Payment Details</button>
    {% endif %}
    <button><a href="/shop/">Back to Shop</a></button>

{% endblock %}