{% extends "base.html" %}
{% load shop_extras %}
{% load staticfiles %}
<!--{% block background %}shop{% endblock %}-->
{% load bootstrap_tags %}
{% block content %}
    <div>
        <h1 class="product-title">{{ product.title }}</h1>
    </div>

    <!---product images--->
    <div class="col-md-6 col-sm-12">
        <div class="col-md-12 product-image-container">
            <img class="main-product-image" src="{{ product.main_image.url }}" alt="product image">
        </div>
        {% for image in product.productimage_set.all %}
            <div class="col-md-4 col-xs-4 product-image-container">
                {% include "shop/product_image.html" %}
            </div>
        {% endfor %}
        <p style="color:transparent">?</p> <!--hidden, stops the html below from overlapping -->
    </div>

    <!--product details-->
    <div class="col-md-6 col-sm-12 product-details-div">
        <p> {{ product.description }}</p>
        <h4>Price - £{{ product.price }}</h4>

        <form method="post" action="{{ form_action }}">
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Add to Basket</button>
            </div>
        </form>

        <table class="table" id="review-table">
            <thead>
                <tr>
                    <th>Score</th>
                    <th>Review</th>
                    <th>Reviewer</th>
                </tr>
            </thead>
            <tbody>
                {% for review in product.productreview_set.all %}
                    {% include "shop/product_review.html" %}
                {% endfor %}
            </tbody>
        </table>

        {% if user.is_authenticated %}
            <button class="btn btn-primary"><a href="{% url 'add_review' product.id %}">Add Review</a></button>
        {% else %}
            <button class="btn btn-primary"><a href="{% url 'login' %}">Login to Add Review</a></button>
        {% endif %}

        <button class="btn btn-primary" id="shop-rtn-btn">Continue Shopping</button>



    </div>

{% endblock %}