{% extends "base.html" %}
{% load shop_extras %}
{% block background %}shop{% endblock %}
{% load bootstrap_tags %}
{% block content %}

    <div class="col-lg-12">
        <div class="row">

            {% for product in products %}
                <div class="col-lg-4 col-md-6 col-sm-6 clearfix"><a href="{% url 'product_detail' product.id %}" >
                    <div class="card">
                        <h1>{{ product.title }}</h1>
                        <img class="img-responsive main-prod-img" src="{{ product.main_image.url }}" width="326" height="244" alt="product image">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <!--<a href="#">{{ product.name }}</a>-->
                                </h4>
                                <h5>Price - £{{ product.price }}</h5>
                                <p class="card-text">{{ product.description|truncatewords:15 }}</p>
                            </div>
                            <div class="card-footer">
                                {% if product|get_avg_rating == 0 %}
                                    <p>no reviews for product</p>
                                {% else %}
                                    <div><span class="stars-container stars-{{ product|get_avg_rating }}">★★★★★</span></div>
                                {% endif %}
                            </div>
                        </div>
                </a></div>
            {% endfor %}

            {% if products.has_other_pages %}
              <ul class="pagination">
                {% if products.has_previous %}
                  <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in products.paginator.page_range %}
                  {% if products.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if products.has_next %}
                  <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </div>

    </div>

{% endblock %}