{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Wedding Stationery Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Cabin|Pacifico" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'js/script.js' %} "></script>
    {% block head_js %}{% endblock head_js %}



</head>

<body id="home-back" class="home {% block background %}{% endblock %}">

    <nav class="sidebar">
		<ul class="sidebar-nav">
              <li><a href="/" class="{% if request.resolver_match.url_name == 'index' %}active-nav{% endif %}">HOME</a></li>
              <li><a href="/shop/" class="{% if request.resolver_match.url_name == 'shop' %}active-nav{% endif %}">SHOP</a></li>
              <li><a href="/forum/" class="{% if request.resolver_match.url_name == 'forum' %}active-nav{% endif %}">FORUM</a></li>
              {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}" class="{% if request.resolver_match.url_name == 'logout' %}active-nav{% endif %}">LOGOUT</a></li>
                <li><a href="{% url 'payment_details' %}" class="{% if request.resolver_match.url_name == 'payment_details' %}active-nav{% endif %}">ADD/CHANGE PAYMENT DETAILS</a></li>
              {% else %}
                <li><a href="{% url 'login' %}" class="{% if request.resolver_match.url_name == 'login' %}active-nav{% endif %}">LOGIN/REGISTER</a></li>
              {% endif %}
		</ul>
		<button class="sidebarBtn">
			<span></span>
		</button>
	</nav>
    <a id="basket" href="{% url 'basket' %}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> {{ request.session.basket.items | length }}</a>

    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
 



</html>