{% extends "base.html" %}
{% load bootstrap_tags %}
{% load staticfiles %}
 
{% block head_js %}
  <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
  <script type="text/javascript">
      //<![CDATA[
      Stripe.publishableKey = '{{ publishable }}';
      //]]>
  </script>
  <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}
 
{% block content %}
<div class="col-md-10 col-md-offset-1">
  <form role="form" method="post" id="register-form" action="{% url 'payment_details' %}">
    <div id="credit-card-errors" style="display:none">
      <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>

    <legend>Add Payment Details</legend>
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-group">
      <input class="btn btn-primary" id="validate_card_btn" name="commit" type="submit" value="Validate Credit Card">
    </div>
  </form>

  <h4>Note - use 4242424242424242 as testing credit card number</h4>
</div>
{% endblock %}