{% extends "base.html" %}
{% load thread_extras %}
{% load bootstrap_tags %}
{% block background %}forum{% endblock %}
{% block content %}


    {% for subject in subjects %}
       <section class="subject">
           <div class="col-md-6">
               <h2><a href="{% url 'threads' subject.id %}">{{ subject.name }}</a></h2>
               <p>
                   <a href="{% url 'threads' subject.id %}">
                       {% autoescape off %}{{ subject.description }}{% endautoescape %}
                   </a>
               </p>
               <table>
                   <tr>
                       <th>THREADS</th>
                       <th> POSTS</th>
                   </tr>
                   <tr>
                       <td>{{ subject.threads.count }}</td>
                       <td>{{ subject|get_total_subject_posts }}</td>
                   </tr>
               </table>
           </div>

       </section>
   {% endfor %}
{% endblock %}